*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}
/*body{*/
/*    background: url(polybg.jpg) no-repeat;*/
/*    height: 100%;*/
/*}*/

/*Scroll Up Buttonn*/
#back2Top {
    margin-right: 10px;
    width: 50px;
    border-radius: 3px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    /*-moz-transform: rotate(270deg);*/
    /*-webkit-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
    /*-ms-transform: rotate(270deg);*/
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #9e9e9e;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: dimgray;
    color: #FA2742;
}


span {
    color: #FA2742;
}
nav{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    /*background: #A9A9A9;*/
    background: linear-gradient(to top, #ffffff -50%, #9e9e9e 100%);
    height: 80px;
    width: 100%;
}
label.logo{
    font-family: montserrat, serif;
    color: white;
    font-size: 36px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #FA2742;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.gif1{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container1 {
    justify-content: center;
    width: 100%;
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    height: 70%;
}
@media (max-width: 980px){
    label.logo{
        font-size: 26px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 350px; /*100hv - old version*/
        background: rgba(128, 128, 128, 0.7); /*background: #070757; - old version*/
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: #FA2742; /*none - old version*/
        transition: .5s;
        color: white; /*#FA2742 - old version*/
    }
    #check:checked ~ ul{
        left: 0;
    }

}
@media (max-width: 420px) {
    .container1 {
        padding-top: 25px;
    }
    .gif1{
        width: 200px;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
}
/*@media (min-width : 700px) and (max-width : 1100px) {*/
/*    .container1{*/
/*    transform: scale(1.3);*/
/*}*/
/*}*/
.img1 {
    border-radius: 0.5%;
    min-width: 250px;
    width: 23%;
    box-shadow: 15px 15px 6px #C0C0C0;
}

.firsth {
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    color: #373833;
    margin: 30px 10px 10px 10px;
    height: 20%;
}
.pt1 {
    margin: 20px 10px 10px 10px;
    height: 80%;
    color: #373833;
    font-weight: bold;
    font-family: Fixed, monospace;
}
.text1 {
    margin-top: -10px;
    margin-left: 10px;
    max-width: 300px;
    padding-bottom: 30px;
}
.parallax {
    height: 100vh;
    background-image: url("whitepoly.jpg");
    background-size: cover;
}

/*Second Scroll*/

.parallax2 {
    height: 107vh;
    background-image: url("presentation.v1.jpg");
    background-size: cover;
    background-position: 57%;
}
.cr {
    font-size: 50px;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: inherit;
    text-align: center;
    background-color: gray;
    border-left: 3px solid #FA2742;
    border-right: 3px solid #FA2742;
    width: 100%;
    /*border-radius: 5px;*/
    opacity: 85%;
}
.block{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
@media (max-width: 420px){
    .cr{
        font-size: 26px;
    }
}

/*Third Scroll*/

.parallax3 {
    height: 110vh;
    background-image: url("animalshelter.JPG");
    background-size: cover;
    background-position: 26%;
}

/*Fourth Scroll*/

.parallax4 {
    height: 100vh;
    background-image: url("collage1.v1.jpg");
    background-size: cover;
    background-position: 26%;
}







